In [1]:
import json
import pandas as pd
with open('data.json', 'r') as f:
    raw_data = json.load(f)

In [ ]:
records = []
values = raw_data[0]['data']['values']

for year_entry in values:
    year = year_entry['inventory_year']
    for item in year_entry['values_']:
        variable_uid = item['variable_uid']
        value = item['value']['value']  # Asumimos siempre tipo number
        records.append({
            'inventory_year': year,
            'variable_uid': variable_uid,
            'value': value
        })

df = pd.DataFrame(records)

df.to_csv('output.csv', index=False)

In [3]:
df

  inventory_year                          variable_uid          value
0           1990  52ab74bd-0a97-4a23-a2fc-b1c63e884b7d  286655.160371
1           1990  f05d8ef0-cd04-4769-81be-303183271230  250480.712349
2           1991  52ab74bd-0a97-4a23-a2fc-b1c63e884b7d  286655.160371
3           1991  f05d8ef0-cd04-4769-81be-303183271230  250480.712349